:root {
  /*GLOBAL VARIABLES*/
  --color-primary: #753030;
  --color-secondary: #fcdbdb;
  --color-accent: #c0c0c0;
}

/*Typography*/

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 560;
  color: var(--color-primary);
}

h2 {
  font-weight: 360;
  text-transform: uppercase;
  font-size: 3rem;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
}

/*Buttons*/
.btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 3px;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 1px #8f8f8f;
  cursor: pointer;
}

.btn-reverse {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0px 0px 10px 1px #585858;
}

.btn:hover {
  background-color: #7a3939;
}

.btn-bottom {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  bottom: 0px;
}

.btn-reverse:hover {
  background-color: #ffc8c8;
}

/*Icons*/
.dot {
  font-size: 2rem;
  color: #d4d4d4;
}

.menu {
  font-size: 4rem;
  color: var(--color-primary);
  padding: 0 1rem;
  cursor: pointer;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.rotate {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.star {
  color: var(--color-secondary);
}

/*Info*/

.info-grid {
  padding: 2% 13%;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: block;
  text-align: center;
}

.info-grid-reverse {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.info-grid a {
  text-decoration: none;
  padding: 0.8rem 2rem;
}

.info {
  margin: 2rem 0;
  padding: 0 3% 4rem;
  position: relative;
}

.info h2 {
  font-weight: 360;
  text-transform: uppercase;
  font-size: 3rem;
}

.info-p {
  padding: 0 15% 4rem;
}

@media screen and (min-width: 768px) {
  .info-grid {
    display: flex;
  }

  .image img {
    width: 36vw;
  }
}

/*Testemunhos*/

.testemunhos-grid {
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px;
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-img img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.profile-info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  text-align: left;
}

.job {
  color: rgb(172, 116, 125);
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}

.name {
  color: black;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0;
}

.testemunho {
  margin-bottom: 30px;
  padding: 0 2rem;
  color: black;
}

@media screen and (min-width: 768px) {
  .profile-img img {
    width: 5vw;
    height: 5vw;
  }
}

/*Album*/

.album {
  background-image: url("images/bg.png");
  text-align: center;
  padding: 7rem;
}

.video {
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #424242;
}

.album h1 {
  padding-bottom: 5rem;
  margin: 0;
  text-shadow: 0px 0px 3px#585858;
}

@media screen and (min-width: 768px) {
  .video {
    width: 40vw;
  }
}

/*Navbar*/

.navbar {
  gap: 1rem;
}

.invisible {
  display: none;
}
.isvisible {
  display: none;
}

.navbar h3 {
  color: black;
  font-weight: 560;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid var(--color-secondary);
}

.navbar a {
  color: black;
  font-weight: 560;
  font-size: 1.5rem;
  margin: 0rem;
  padding: 1rem 2rem;
  border-top: 1px solid var(--color-secondary);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 100vw;
}

.selected {
  color: var(--color-primary) !important;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 10px 1px #8f8f8f;
  }

  .invisible {
    display: block;
  }

  .isvisible {
    display: flex;
  }

  .visible {
    display: none;
  }

  .navbar h3 {
    border-top: 0px;
    margin: 1rem 0;
  }

  .navbar a {
    border-top: 0px;
    margin: 1rem 0;
    width: fit-content;
  }
}

/*Header*/
.header-bg {
  height: 20vh;
  opacity: 0.5;
  background-image: url("images/header.jpg");
}

.maps {
  height: 40vh;
}

/*Portais*/
.portal {
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  color: var(--color-secondary);
}

.portal button {
  border-radius: 20px;
}

.portal .portal-btn,
.portal form {
  margin: 2%;
}

/*Images*/
.drip {
  width: 100vw;
  max-width: 100%;
  overflow: none;
  display: block;
}

.image img {
  width: 50vw;
}

/*About Us*/
.aboutus {
  padding: 2% 13%;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: block;
  text-align: center;
}

.aboutus-info img {
  height: 70vh;
}

.aboutus-info p {
  font-size: 1.7rem;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .aboutus-info {
    display: flex;
    text-align: center;
    margin-bottom: 6rem;
  }

  .aboutus-info img {
    height: 50vh;
    margin-right: 5vw;
  }
}

/*Blog*/

.blog {
}

.recipes {
  margin: 35px;
}

.blog-categories p {
  border: none;
  background-color: white;
  font-size: 1.5rem;
  border: 1px solid rgb(231, 231, 231);
  border-top: 2px solid rgb(209, 169, 209);
  padding: 0.5rem;
  text-align: center;
}

.blog-categories button {
  border: none;
  background-color: white;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  width: 100%;
}
.single-recipe img {
  width: 100%;
}

.recipe-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-primary);
  font-weight: 600;
  text-align: center;
}

.recipe-name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.recipe-name:after {
  content: "";
  margin: 0 45%;
  display: block;
  position: relative;
  width: 10%;
  border: 1px solid #dddddd;
  margin-top: 8px;
}

.single-recipe {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.recipe-desc {
  color: grey;
}

@media screen and (min-width: 768px) {
  .blog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    columns: 2px 2px 2px;
    margin: 50px 13%;
    gap: 35px;
  }

  .recipes {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .single-recipe {
    margin-bottom: 0rem;
  }
}

/*Galeria*/

.galeria {
  padding: 5rem 13%;
  text-align: center;
  background: var(--color-primary);
  color: var(--color-primary);
}

.item {
  margin: 2rem 0;
}

.item img {
  width: 100%;
}

.content {
  background: var(--color-secondary);
  margin-bottom: 1rem;
}

.content p {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .item {
    margin: 0;
  }
}

/*Encomenda*/

.primary {
  padding: 5rem 13%;
  background: var(--color-primary);
  color: var(--color-secondary);
}

.secondary {
  padding: 0;
  background: var(--color-secondary);
  color: var(--color-primary);
}

.encomenda form {
  display: flex;
  flex-direction: column;
}

.encomenda input {
  margin: 1rem 0;
  padding: 0.3rem 1rem;
  width: 40%;
  height: 3rem;
  background-color: #ffeeee;
  border: none;
}

.encomenda textarea {
  background-color: #ffeeee;
  padding: 0.3rem 1rem;
  height: 20rem;
  width: 70%;
  margin: 1rem 0;
  border: none;
}

.primary h1 {
  color: var(--color-secondary);
  font-size: 3rem;
}

.secondary h1 {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 300;
}

.encomenda .btn {
  margin: 1rem 0;
  width: 15rem;
  border-radius: 20px;
}

/*Contactos*/
.contactos-title {
  background: var(--color-primary);
  text-align: center;
  padding: 0.1rem;
}

.contactos-title h2 {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
}

.contactos-body {
  padding: 1rem 5rem;
  background: var(--color-secondary);
  color: var(--color-primary);
}

.contactos-image {
  background-color: var(--color-secondary);
}

.teste {
  width: 100vw;
  max-width: 100%;
}

.contactos-body h3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}

.contactos-body h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

.contactos-item {
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  .contactos-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .contactos-item {
    border-bottom: none;
    margin-bottom: 2rem;
  }
}
